.recipe-edit {
    .c2 {
        width: 400px;
        margin: 0 auto;
        text-align: left;
    }
    .c3 {
        display: flex;
        align-items: center;
    }
    .c1 {
        min-width: 100px;
        text-align: right;
        margin-right: 5px;
    }
}