
@import "~bulma/bulma";

@import "app";

// a {
//     // text-decoration: none !important;
//     // i probably want to use a reset or normalize
//     // research this later
//     text-decoration: none;
// }

// need to rename and move to own file
.recipe {
    margin: 10px auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    .title {
        color: white; // text-decoration: none !important;
        background-color: rgba(0, 0, 0, .5);
        // width: 100%;
        text-align: center;
        line-height: 1.6;
    }
}

@import 'recipe';

